
    .form{
        border-radius: .6rem;
        border-color: blue;

        }
        .a{
            width: 45%;
            padding: 20px;
            border: 1px solid black;
            text-align: center;
        }
        .line{
            border: 40px;

        }
        .font_email{
             color:  #5180F6 ; 
             border: 200px;

        }